<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.14159265359"/>

    <xacro:macro name="d435_plugin" params="prefix:='rs/' camera:=camera_link">
        <xacro:property name="cloud_frame" value="${prefix}cloud_frame"/>

        <!-- Frame for the point cloud to attach to -->
        <link name="${cloud_frame}"/>
        <joint name="${prefix}cloud_joint" type="fixed">
            <parent link="base_link" />
            <child link="${cloud_frame}"/>
            <origin xyz="0.32 0.0 0.247" rpy="-${111*M_PI/180.0} 0.0 -${M_PI/2}"/>
        </joint>

        <!-- Virtual links representing the cameras positions and orientations-->
        <link name="${prefix}color"/>
        <link name="${prefix}depth"/>
        <link name="${prefix}ired1"/>
        <link name="${prefix}ired2"/>

        <!-- Joints positioning the virtual links with respect to the camera main link-->
        <joint name="${prefix}color_joint" type="fixed">
            <parent link="${camera}"/>
            <child link="${prefix}color"/>
            <!-- <origin xyz="0 -0.046 0.004" rpy="0 0 0"/> -->
            <!-- The default position is change since in Rviz the cloud depth axis is Z not X-->
            <origin xyz="0 -0.046 0.004" rpy="0 0 0"/>
        </joint>

        <joint name="${prefix}depth_joint" type="fixed">
            <parent link="${camera}"/>
            <child link="${prefix}depth"/>
            <origin xyz="0 -0.03 0.004" rpy="1.57 0 0"/>
        </joint>

        <joint name="${prefix}ired1_joint" type="fixed">
            <parent link="${camera}"/>
            <child link="${prefix}ired1"/>
            <origin xyz="0 -0.06 0.004" rpy="0 0 0"/>
        </joint>

        <joint name="${prefix}ired2_joint" type="fixed">
            <parent link="${camera}"/>
            <child link="${prefix}ired2"/>
            <origin xyz="0 0.01 0.004" rpy="0 0 0"/>
        </joint>

        <!-- Load parameters to model's main link-->
        <gazebo reference="${camera}">
            <self_collide>0</self_collide>
            <enable_wind>0</enable_wind>
            <kinematic>0</kinematic>
            <gravity>1</gravity>
            <!--<mu>1</mu>-->
            <mu2>1</mu2>
            <fdir1>0 0 0</fdir1>
            <!--<slip1>0</slip1>
            <slip2>0</slip2>-->
            <kp>1e+13</kp>
            <kd>1</kd>
            <!--<max_vel>0.01</max_vel>
            <min_depth>0</min_depth>-->

            <sensor name="${prefix}color" type="camera">
                <pose frame="${prefix}color">0 0 0 0 0 0</pose>
                <camera name="${camera}">
                    <horizontal_fov>1.204</horizontal_fov>
                    <vertical_fov>0.733</vertical_fov>
                    <image>
                        <width>640</width>
                        <height>360</height>
                        <format>RGB_INT8</format>
                    </image>
                    <clip>
                        <near>0.15</near>
                        <far>100</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <always_on>1</always_on>
                <update_rate>12</update_rate>
                <visualize>1</visualize>
            </sensor>
            <sensor name="${prefix}ired1" type="camera">
                <pose frame="${prefix}ired1">0 0 0 0 0 0</pose>
                <camera name="${camera}">
                    <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>480</width>
                        <height>270</height>
                        <format>L_INT8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>1.00</stddev>
                    </noise>
                </camera>
                <always_on>0</always_on>
                <update_rate>0</update_rate>
                <visualize>0</visualize>
            </sensor>
            <sensor name="${prefix}ired2" type="camera">
                <pose frame="${prefix}ired2">0 0 0 0 0 0</pose>
                <camera name="${camera}">
                    <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>480</width>
                        <height>270</height>
                        <format>L_INT8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>1.00</stddev>
                    </noise>
                </camera>
                <always_on>0</always_on>
                <update_rate>0</update_rate>
                <visualize>0</visualize>
            </sensor>
            <sensor name="${prefix}depth" type="depth">
                <pose frame="${prefix}depth">0 0 0 0 0 0</pose>
                <camera name="${camera}">
                    <horizontal_fov>1.518</horizontal_fov>
                    <vertical_fov>1.012</vertical_fov>
                    <image>
                        <width>480</width>
                        <height>270</height>
                    </image>
                    <clip>
                        <near>0.15</near>
                        <far>5</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.100</stddev>
                    </noise>
                </camera>
                <always_on>1</always_on>
                <update_rate>12</update_rate>
                <visualize>0</visualize>
            </sensor>
        </gazebo>

        <gazebo>
            <plugin name="realsense_gazebo" filename="librealsense_gazebo_plugin.so">
                <prefix>rs/</prefix>
                <depthUpdateRate>6</depthUpdateRate>
                <colorUpdateRate>6</colorUpdateRate>
                <depthTopicName>/depth/image_rect_raw</depthTopicName>
                <depthCameraInfoTopicName>/depth/camera_info</depthCameraInfoTopicName>
                <depthOpticalframeName>${cloud_frame}</depthOpticalframeName>
                <depthNoiseStddev>0.02</depthNoiseStddev>
                <depthDropout>0.1</depthDropout>
                <colorTopicName>/color/image_raw</colorTopicName>
                <colorCameraInfoTopicName>/color/camera_info</colorCameraInfoTopicName>
                <colorOpticalframeName>${cloud_frame}</colorOpticalframeName>
                <rangeMinDepth>0.3</rangeMinDepth>
                <rangeMaxDepth>4</rangeMaxDepth>
                <pointCloud>true</pointCloud>
                <pointCloudIsDense>false</pointCloudIsDense>
                <pointCloudColor>false</pointCloudColor>
                <pointCloudTopicName>/depth/color/points</pointCloudTopicName>
                <pointCloudInvalidValue>0.0</pointCloudInvalidValue>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>